# export DATABASE_URL="postgresql://senac:aluno@localhost@5432/api_web_biblioteca"
export PG_USER="senac"
export PG_PASSWORD="aluno"
export PG_HOSTNAME="localhost"
export PG_PORT="5432"
export PG_DATABASE="api_web_biblioteca"
